/16 - Debugging
/20 - The DOM
/29 - Events
/33 - Etch-a-Sketch
/34 - Click Outside
/35 - Scroll To Accept
/36 - Tabs
/46 - Arrays
/55 - Face Detection Censorship
/56 - Sarcastic Text
/57 - Shopping List
/58 - Gallery
/59 - Slider
/72 - Async Prompts
/73 - Async Typer
/75 - CORS and Recipes
/76 - Dad Jokes
/77 - Currency Converter
/79 - Currency Converter Modules Refactor  - FINISHED
/80 - Dad Jokes Modules - FINISHED
/81 - Dad Jokes Bundling - FINISHED
/82 - npm modules - FINISHED
/83 - Security
/84 - Web Speech Colour Game
/85 - Audio Visualizer Oscilloscope